<mat-toolbar color="primary">
  <span><a routerLink="/"><img src="assets/images/around_the_world.svg"/></a></span>
<ul>
  <li *ngIf="userIsAuthenticated"><a mat-button routerLink="/">Home</a></li>
  <li *ngIf="userIsAuthenticated"><a mat-button routerLink="/map">Travel Map</a></li>
  <li *ngIf="userIsAuthenticated"><a mat-button routerLink="/notes">Journal</a></li>
  <li *ngIf="userIsAuthenticated"><a mat-button routerLink="/photos">Photos</a></li>
  <li *ngIf="userIsAuthenticated"><a mat-button routerLink="/photos">Wishlist</a></li>
   <li *ngIf="userIsAuthenticated"><a mat-button routerLink="/challenge">Travel challange</a></li>
</ul>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup">Sign up</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button><img class="space" src="assets/images/female_avatar.svg" />   {{ userName}}</a>

    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()"><span class="material-icons">exit_to_app</span></button>
    </li>
  </ul>
</mat-toolbar>
