mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.center {
  max-width: 100%;
  margin: 0 auto;
}

mat-card {
  width: 40%;
  margin: 0 auto;
}

img {
  width:50%;
  position:fixed;
  right:0;
  bottom:0;
  margin:0;
  padding:0;
}
