<button class="button-margin container" color="primary" (click)="openDialog()"mat-flat-button>Edit map</button>
<div #mapContainer id="map"></div>
<div>
  <div class="countries-wrap">
    <div class="counter" matTooltip="Number of visited countries">
      <p class="count">10</p>
      <div class="title">
        <span class="description">COUNTRIES</span>
        <span class="percent"> / 4%</span>
      </div>
    </div>
  </div>
  <div class="countries-wrap">
    <div class="counter" matTooltip="Number of visited cities and their percent relative to all main cities in the visited countries">
      <p class="count">22</p>
      <div class="title">
        <span class="description">CITIES</span>
        <span class="percent"> / 15%</span>
      </div>
    </div>
  </div>
  <div class="countries-wrap">
    <div class="places" matTooltip="Number of visited sights and their percent relative to all main sights in the visited countries">
      <p class="count">0</p>
      <div class="title">
        <span class="description">PLACES</span>
        <span class="percent" style="display: none;">/ 0%</span>
      </div>
    </div>
  </div>
</div>
