<!-- Dialog title -->
<h4 mat-dialog-title>Add photo</h4>

<!-- Dialog content -->
<div mat-dialog-content>
    <div class="dialog-content">
      <form [formGroup]="addPhotosForm">
    <mat-form-field>
      <input matInput type="text" formControlName="title" required placeholder="Location"/>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="2" formControlName="description" required placeholder="Description"></textarea>
    </mat-form-field>
    <button mat-stroked-button type="button" (click)="filePicker.click()">Pick image</button>
    <input type="file" #filePicker (change)="onImagePicked($event)">
    <div class="image-preview" *ngIf="imagePreview !=='' && imagePreview && image.valid">
      <img [src]="imagePreview" [alt]="title">
    </div>
    <div>
    </div>
  </form>
    </div>
</div>

<!-- Dialog actions -->
<div mat-dialog-actions align="end">
  <div class="multiple-buttons">
    <!-- Cancel -->
    <button
      color="primary"
      [disabled]="addPhotosForm.invalid"
      (click)="onSave()"
      mat-flat-button>Save</button>
    <button
      color="primary"
      (click)="onCancel()"
      mat-stroked-button>
      <span>Cancel</span>
    </button>
  </div>
</div>

