    <button mat-stroked-button type="button" (click)="filePicker.click()">Add photo</button>
    <input type="file" #filePicker>
<div class="row">
  <div class="column">
    <img src="assets/images/test.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/test.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/images.jpg" alt="Mountains" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/download.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/download.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/images.jpg" alt="Mountains" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/download.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/download.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/images.jpg" alt="Mountains" style="width:100%">
  </div>
</div>
