
<div class="content">
<div class="center">
<button  color="primary" mat-flat-button (click)="openDialog()">Add post</button>
</div>
<mat-spinner  diameter="30" *ngIf="preloader"></mat-spinner>
<div class="panel-container">
<mat-accordion class="panel-column" multi="true" *ngIf="posts.length && !preloader">
  <mat-expansion-panel [expanded]="true" class="panel" *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <p>{{ post.content }}</p>
    <mat-action-row *ngIf="userIsAuthenticated && userId === post.creator">
      <a color="primary" mat-flat-button (click)="openDialog(post)">Edit</a>
      <button mat-button (click)="onDelete(post.id)" color="primary"
      mat-stroked-button>Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<mat-paginator showFirstLastButtons [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="posts.length"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="!posts.length && !preloader">No notes added yet!</p>
</div>
</div>
<img class="logo" src="assets/images/diary.svg" />
