<!-- Dialog title -->
<h4 mat-dialog-title>{{data ? 'Edit note' : 'Add note'}}</h4>

<!-- Dialog content -->
<div mat-dialog-content>
    <div class="dialog-content">
      <mat-spinner diameter="30" *ngIf="preloader"></mat-spinner>
      <form [formGroup]="addEditNoteForm" *ngIf="!preloader">
    <mat-form-field>
      <input matInput type="text" formControlName="title" required placeholder="Title">
      <mat-error *ngIf="title.hasError('required')">Title is required!</mat-error>
    </mat-form-field>
    <div>
    <mat-form-field>
      <textarea matInput rows="4" formControlName="content" required placeholder="Content"></textarea>
      <mat-error *ngIf="content.hasError('required')">Content is required!</mat-error>
    </mat-form-field>
    <button mat-stroked-button type="button" (click)="filePicker.click()">Pick image</button>
    <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !=='' && imagePreview && image.valid">
      <img [src]="imagePreview" [alt]="title">
    </div>
  </form>
    </div>
</div>

<!-- Dialog actions -->
<div mat-dialog-actions>
  <div class="multiple-buttons">
    <!-- Cancel -->
    <button
      color="primary"
      mat-raised-button
      (click)="onSavePost()">Save note</button>
    <button
      color="primary"
      (click)="onCancel()"
      mat-stroked-button>
      <span>Annuleer</span>
    </button>
  </div>
</div>
