<button mat-raised-button class="button" *ngIf="!challenges.length && !preloader" (click)="openDialog()">Add challenge</button>


<mat-spinner  diameter="30" *ngIf="preloader"></mat-spinner>
<mat-card class="example-card" *ngFor="let challenge of challenges">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>7 of {{challenge.countries}} countries</mat-card-title>
    <mat-card-subtitle>You're on track!</mat-card-subtitle>
    <mat-card-subtitle>
      <div class="flex">
        <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
        <p>70%</p>
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  <mat-chip-list>
    <mat-chip>Germany</mat-chip>
    <mat-chip>Romania</mat-chip>
    <mat-chip>Croatia</mat-chip>
    <mat-chip>France</mat-chip>
    <mat-chip>Italy</mat-chip>
    <mat-chip>Spain</mat-chip>
    <mat-chip>Denmark</mat-chip>
</mat-chip-list>
</mat-card-content>
<hr>
  <mat-card-actions align="end">
    <button mat-flat-button (click)="openDialog(challenge)" color="primary">Edit</button>
    <button mat-stroked-button (click)="openDeleteDialog(challenge)">Quit challenge</button>
  </mat-card-actions>
</mat-card>

<img class="logo" src="assets/images/journey.svg" />
