<div class="container">
  <div><img src="assets/images/connected_world.svg" class="center" /></div>
  <div style="margin: 30px;">
    <h1>Connected world</h1>
    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  </div>
</div>
<div class="container">
  <div style="margin: 30px;">
    <h1>Plan your next trip</h1>
    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
  </div>
  <div><img src="assets/images/travel_plans.svg" class="center" /></div>
</div>

<div class="container">
  <div><img src="assets/images/moments.svg" class="center" /></div>
  <div style="margin: 30px;">
    <h1>Moments</h1>
    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  </div>
</div>

<div class="container">
  <div style="margin: 30px;">
    <h1>Take notes</h1>
    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  </div>
  <div><img src="assets/images/map_light.svg" class="center" /></div>
</div>
